nav div div div:hover {
	background-color: #d6d6d6;
	-webkit-transition: background-color .5s; 
	transition: background-color .5s;
}
nav div div div {
	-webkit-transition: background-color .5s; 
	transition: background-color .5s;
	background-color: inherit;
}
nav {
	background-color: rgba(0, 0, 0, 0.3);
}
.paragraph {
	text-indent: 50px;
}